@import "src/components/ProductCard/components/ProductFlag/ProductFlag";

.logo__box {
	/* 	padding: 23px 30px; */
	cursor: pointer;
	width: 250px;
	height: 370px;
	position: relative;
	align-self: center;
	padding-top: 8px;
	.logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
