.MuiTabs-indicator {
	display: none;
}

.MuiButtonBase-root.MuiTab-root:not(:last-child) {
	border-bottom: 1px solid #d3d7da;
}

.profile-tabs.MuiButtonBase-root.MuiTab-root {
	padding-left: 35px;
	height: 68px;
	display: flex;
	align-items: flex-start;
	text-transform: inherit;
	font-family: Open Sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}
.profile-tabs.MuiButtonBase-root.MuiTab-root.Mui-selected {
	font-weight: 700;
	color: black;
	background: #d3d7da;
}
